---
const pageTitle = "Home";
import BaseLayout from '../layouts/BaseLayout.astro';
import Gallery from '../components/Gallery.astro';
---

<html lang="en">
  <body>
    <BaseLayout pageTitle={pageTitle}>

      <h2>Gallery</h2>
      <Gallery />

      <h2>This is stuff LOL</h2>
      <p>OH SHIT I HATE MODERN WEB DESIGN AESTHETIC</p>
    </BaseLayout>
  </body>
</html>
