---
import "../styles/global.css";
---

<h1 class="text-3xl font-bold underline">Hello world!</h1>

<div class="bg-blue-500 rounded-md p-2">I am a guy living my life</div>
</div>

WHY DOES IT LOOK SO BAD

oh there it goes.